
<br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Bank Account
</button>


<br><br>
<div class="card">
 <div class="card-body table-responsive">
   <table class="table table-hover">
    <thead class="text-warning">
      <tr>
        <th colspan="1"></th>
        <th scope="col">Account code</th>
        <th scope="col">Account name</th>
        <th scope="col">Account ID</th>
        <th scope="col">Account Balance</th>
        <th colspan="1"></th>
      </tr>
      </thead>

  <tbody>
    <% @bank_accounts.each do |bank_account| %>
      <tr>
        <td></td>
        <td><%=link_to bank_account.code, bank_account %></td>
         <td><%= link_to bank_account.name, bank_account  %></td>
         <td><%= link_to bank_account.id, bank_account  %></td>
         <td><%= number_to_currency(bank_account.financial_transactions.sum(:total_amount), :unit => "R ")  %></td>
          <td><%= link_to 'Edit', edit_bank_account_path(bank_account) %> |
              <%= link_to 'Destroy', bank_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>


     <td></td>
     <td><%= link_to "Unallocated transactions", bank_accounts_unallocated_path %></td>
     <td></td>
     <td></td>
      <td><% @total = 0 %><% @financial_transactions.each do |transaction| %>
      <% if transaction.gl_account_id == nil%>
          <% @total += transaction.total_amount.to_f.round(2) %>
          <% end %>
          <% end %>
          <%= link_to  number_to_currency(@total, :unit => "R "),bank_accounts_unallocated_path    %></td>
          <td></td>
     </thead>
  </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


<%= form_for(@bank_account) do |f| %>
  <% if @bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>

      <ul>
      <% @bank_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.number_field :code, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :opening_balance %><br>
    <%= f.text_field :opening_balance, class: 'form-control' %>
  </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit 'Submit', :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>