<%= simple_form_for(@gl_account) do |f| %>
  <% if @gl_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gl_account.errors.count, "error") %> prohibited this gl_account from being saved:</h2>

      <ul>
      <% @gl_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.number_field :code, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :account_type %><br>
    <%= f.input :account_type, as: :select, label: " '", collection: GlAccount.account_types.map { |key, value| [key.humanize, key] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>