<p id="notice"><%= notice %></p>

<h1>Listing Financial Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Reference</th>
      <th>Project</th>
      <th></th>
      <th>Contact</th>
      <th>Vat amount</th>
      <th>Transaction type</th>
      <th>Payment entry</th>
      <th>Payment</th>
      <th>Receipt entry</th>
      <th>Gl account</th>
      <th>Vat type</th>
      <th>Bank account</th>
      <th>Total amount</th>
      <th>Purchase</th>
      <th>Sale</th>
      <th>Net amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_transactions.each do |financial_transaction| %>
      <tr>
        <td><%= financial_transaction.date %></td>
        <td><%= financial_transaction.description %></td>
        <td><%= financial_transaction.reference %></td>
        <td><%= financial_transaction.project_id %></td>
        <td><%= financial_transaction. %></td>
        <td><%= financial_transaction.contact_id %></td>
        <td><%= financial_transaction.vat_amount %></td>
        <td><%= financial_transaction.transaction_type %></td>
        <td><%= financial_transaction.payment_entry_id %></td>
        <td><%= financial_transaction.payment %></td>
        <td><%= financial_transaction.receipt_entry_id %></td>
        <td><%= financial_transaction.gl_account_id %></td>
        <td><%= financial_transaction.vat_type %></td>
        <td><%= financial_transaction.bank_account_id %></td>
        <td><%= financial_transaction.total_amount %></td>
        <td><%= financial_transaction.purchase_id %></td>
        <td><%= financial_transaction.sale_id %></td>
        <td><%= financial_transaction.net_amount %></td>
        <td><%= link_to 'Show', financial_transaction %></td>
        <td><%= link_to 'Edit', edit_financial_transaction_path(financial_transaction) %></td>
        <td><%= link_to 'Destroy', financial_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial transaction', new_financial_transaction_path %>
