<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-fields">
  <center>  <%= f.text_field :name, class: 'form-control', placeholder: "Product name"  %></center><br />
   <center>  <%= f.number_field :code, class: 'form-control', placeholder: "Product code"   %></center><br />
    <center> <%= f.text_field :brand, class: 'form-control', placeholder: "Product brand"   %></center><br />
    <center> <%= f.text_field :tag, class: 'form-control', placeholder: "Product tag"   %></center><br />
    <center> <%= f.text_field :price, class: 'form-control', placeholder: "Product price (Exc Vat)"   %></center><br />
    <center> <%= f.text_field :quantity, class: 'form-control', placeholder: "quantity"   %></center><br />
    <center> <%= f.number_field :purchase_entry_id, class: 'form-control', placeholder: "Product name"   %></center><br />
    <center> <%= f.text_field :opening_stock, class: 'form-control', placeholder: "Opening Stock Quantity"   %></center><br />
    <center> <%= f.text_field :current_stock, class: 'form-control', placeholder: "Current Stock Quantity"   %></center><br />
  </div>
  <div class="actions">
    <%= f.submit "Add product", :class => "btn btn-info" %>
  </div>
<% end %>
