
<div class ="form-fields">
<%= simple_form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this purchase from being saved:</h2>
      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<center>
<div class= "card col-md-12">
  <div class="card-header card-header-info">
                                    <h4 class="card-title">Edit Invoice</h4>
                                    <p class="card-category"></p>
                                     </div> 
   <table class = "table">
    <thead>
      <tr><center>
          <% if @sale.sales_type != 'credit_not' %>
    <%= f.hidden_field :balance, :value => 0%>
    <th>  <%= f.label :date %><br></th>
   <th> <%= f.date_field :date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %> </td></th>
   
   <th>  <%= f.label :customer_id %></th>
      <th><%= f.collection_select(:contact_id, Contact.all, :id, :name, {:prompt => true},  class:"form-control")  %></th>
     <th> <strong><%= f.label :sales_type%> </strong></th>
     <th><%=  f.select :sales_type, Sale.sales_types.keys, {}, class: 'form-control'   %></th>
     <tr><center>
    <th>  <%= f.label :due_date %></th>
   <th> <%= f.date_field :due_date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %> </th>
     <th>  <%= f.label :invoice_number %></th><th><%=  f.text_field :invoice_number, class: 'form-control' %></th>
    <% end %>
   </tr></center>
   </tr></center>
   <th></th>
  </div>
  </table>
  
  <br />

 
<div class= "card">
  <table class= "table">
    <thead>
    <tr>
      <th class ="colspan-1"></th>
       <th class ="colspan-1">Product</th>
      <th class ="colspan-1">Description</th>
      <th class ="colspan-1">Account</th>
       <th class="col-md-1">Vat</th>
      <th class ="md-1">Quantity</th>
      <th class ="md-1">Amount</th>
      <th class ="colspan-1">Total</th>
    </tr>
  </thead>
    

      <div class = "card">
 <tbody class ="fields" id="myTable">
    <%= f.fields_for :sales_entries do |builder| %>
    <%= render 'sales_entry', f: builder %>
    <% end %>
    </div>
  </div>
  </tbody>
   <tr>
     <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td><h5>Total: </h5></td>
 <td><strong><h5 class="total"></h5></strong></td>
 </tr>
  </table>
  <%= link_to_add_row('Add line', f, :sales_entries, class: 'btn btn-warning') %>
  </br> </br>
   <%= f.text_area :notes, class: 'form-control', placeholder: 'Notes' %> 
  </div>
  <div class="actions">

    </br></br>
     <%= f.submit 'Create Invoice', :class => 'btn btn-success' %> | <%= link_to 'Back', sales_path, class:"btn btn-default" %>

  </div>
<% end %>
 </center>
 
