
<div class ="form-fields">
<%= simple_form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<center>
<div class= "card col-md-12">
  <div class="card-header card-header-danger">
                                    <h4 class="card-title">Draft</h4>
                                    <p class="card-category"></p>
                                     </div> 
                                  
   <table class = "table">
    <thead>
      <tr><center>
    <th>  <%= f.label :date %><br></th>
   <th> <%= f.date_field :date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %> </td></th>
   <th></th>
   <th>  <%= f.label :customer_id %><br></th>
    <th>  <%=f.collection_select(:contact_id, Contact.all, :id, :name, {:prompt => false},  class:"btn ml-auto") %></th>

     <tr><center>
    <th>  <%= f.label :due_date %><br></th>
   <th> <%= f.date_field :due_date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %> </td></th>
     <th>  <%= f.label :invoice_entry %><%=  f.text_field :invoice_number, class: 'btn btn-default pull-right'  %></th>
    <th>  <%=  f.select :sales_type, Sale.sales_types.keys, {}, class: 'btn btn-default'   %></th>
   </tr></center>
   </tr></center>
   <th></th></th>
    <th> 
               
        </div></th>
   </tr></center>
   <th></th>
  </div>
 </div>

</div>
  </br></br></br>
  
 
<div class= "card">
  <table class = "table">
    <thead>
        <center>
    <tr>
      <th class ="colspan-1"></th>
       <th class ="colspan-1">Product</th>
        <th class ="colspan-1">Description</th>
      <th class ="colspan-1">Account</th>
       <th class ="colspan-1">Vat</th>
      <th class ="colspan-1">Quantity</th>
      <th class ="colspan-1">Amount</th>
      <th class ="colspan-1">Total</th>
    </tr>
  </thead>
    </center>

      <div class = "card">
 <tbody class ="fields">
    <%= f.fields_for :sales_entries do |builder| %>
    <%= render 'sales_entry', f: builder %>
    <% end %>
    </div>
  </div>
  </tbody>
  
  </table>
  <%= link_to_add_row('Add line', f, :sales_entries, class: 'btn btn-warning') %>
  </br> </br>
   <%= f.text_area :notes, class: 'form-control', placeholder: 'Notes' %> 
  </div>
  <div class="actions">

    </br></br>
     <%= f.submit 'Create draft', :class => 'btn btn-danger' %> | <%= link_to 'Back', sales_path, class:"btn btn-default" %>

  </div>
<% end %>
 </center>
 
 
 