<p id="notice"><%= notice %></p>

<center>

<div class= "card col-md-10" style="background-color:#fff;">
 
  <% if @sale.sales_type == "invoice" %>
                <div class="card-header card-header-success">
                    <h4 class="card-title">sale</h4>
                      <p class="card-category"></p>
                      </div> 
                              <% else if @sale.sales_type == "draft" %>
                               <div class="card-header card-header-danger">
                                 <h4 class="card-title">Draft</h4>
                                   <p class="card-category"></p>
                                           </div> 
                                           <% else if @sale.sales_type == "Quote" %>
                                             <div class="card-header card-header-warning">
                                               <h4 class="card-title">Draft</h4>
                                                 <p class="card-category"></p>
                                           </div> 
                                     <% end %>
                                     <% end %>
                                     <% end %>
   <table class = "table table-striped">
    <thead >
      <tr><center>
    <th><strong>Date:</strong> </th>
   <th>  <%= @sale.date %> </td></th>
      <th><strong>Total:</strong> </th>
   <th>  <%= @sale.amount.round(2) %> </td></th>
   <th> <strong>Invoice Type:</strong><br></th>
    <th>  <%= @sale.sales_type %></th>
     <th> <strong>Customer:</strong><br></th>
    <th><%= @sale.contact_id ? @sale.contact.name : '' %> </br>
       <%= @sale.contact_id ? @sale.contact.address_one : '' %> </br>
      <%= @sale.contact_id ? @sale.contact.city : '' %> </br>
   </tr></center>
  </div>
 </div>

</div>
  </br></br></br>
  
<div class= "card">

  <table class = "table table-striped">
    <thead style="background-color:#fff;">
    <tr>
      <th>Description</th>
       <th>Product</th>
      <th>Account</th>
      <th>Vat</th>
      <th>Quantity</th>
      <th>Amount</th>
      <th>Total</th>


  </thead>
        <h3><left>Invoice Items</left></h3>
      <tbody style="background-color:#fff;">
       <% @sale_entry.each do |entry| %>
            <% if entry.sale_id == @sale.id %>

               <td>  <%= entry.description %></td>
               <td> <%= entry.product ? entry.product.name : ' ' %></td>
               <td> <%= entry.gl_account ? entry.gl_account.name : ' ' %></td>
                  <td> <%= entry.vat_amount.to_f.round(2) %></td>
               <td> <%= entry.quantity %></td>
               <td> <%= entry.price.to_f.round(2) %></td>
                  <% if entry.quantity.to_i > 0 %>
                     <% @total = 0 %>
                     <% @total += (entry.quantity.to_f.round(2)) * (entry.price.to_f.round(2) + entry.vat_amount.to_f.round(2)) %>
                     <td><strong><%= @total.round(2) %></strong></td>
                     </tr>
                 <% else %>
                     <td><strong><%= entry.price %></strong></td>
              </tr>
                <% end %>
        <% end %>
       <% end %>
   </table>
   
   <h3 class='pull-left'>Payments</h3>
   
   <table class="table table-striped">
                  <thead style="background-color:#fff;">
                  <th class ='col-md-4'><strong>Date</strong></th>
                  <th class ='col-md-4'><strong>Description</strong></th>
                  <th class ='col-md-4'><strong>Reference</strong></th>
                  <th class ='col-md-4'><strong>Amount</strong></th>
              
     <tbody>
                  <% @transactions.each do |transaction| %>
                  <% if transaction.sale_id == @sale.id %>
              
                  <td class ='col-md-4'><%= link_to transaction.date, edit_financial_transaction_path(transaction) %></td>
                   <td class ='col-md-4'><%= transaction.description %></td>
                  <td class ='col-md-4'><%=transaction.reference %></td>
                  <td class ='col-md-4'><%= transaction.total_amount %></td>
                  </tr>
                  
             <% end %>
             <% end %>
              
      </tbody>
      </table>
      
      
      <br><br><br><br> <br><br><br><br>
      <table class ="table table-striped">
      <tbody style="background-color:#fff;">
        <tr style="background-color: #fff;">
       <td class ='col-md-3'><strong><h3>Balance:</h3></strong></td>
        <td class ='col-md-3'></td>
        <td class ='col-md-3'></td>
         <td class ='col-md-3'></td>

        
             <td class ='col-md-3'><strong><h3><% @total_balance = 0 %>
                         <% @total_balance = @sale.amount - @sale.financial_transactions.sum(:total_amount) %> 
                         <%= @total_balance.round(2)  %></h3></strong></td>
       
            </tr>
          </tbody>
          
  </table>
  </div>
  <%= link_to 'Edit', edit_sale_path(@sale), class: "btn btn-default" %> |
<%= link_to 'Back', sales_path ,class:"btn btn-default"%>
 </center>

 
 



