<p id="notice"><%= notice %></p>

<h1><center><strong>Income Statement</strong></center></h1>
</br>

<center>
<table class='col-md-6 pull-left '>
<%= form_tag reports_income_statement_path, :method => 'get' do %>
  <tr class='col-md-4'> <th><%= date_field_tag :start_date, {:prompt => true},  class:"form-control col-md-12", placeholder: :start_date %> </th>
   <th><%= date_field_tag :end_date, {:prompt => true},  class:"form-control col-md-12" %></th> 
  <th><%= submit_tag "Search", :class => "btn btn-primary" %></th>
  <% end %>
 </tr>
 </table>
 <br />
  <div class= "card col-md-12">
<table class="table table-hover ">
  <thead>
    <tr>
     <th class="text-info"><h3><strong>Account </strong></h3></th>
      <th><strong></strong></th>
      <th class="text-info"><h3><strong>Balance </strong></h3></th>
    </tr>
  </thead>

 <tbody>
   <td><strong>Revenue</strong></td>
   <td></td>
   <td></td>
  </tbody>
  
  <!----------------------------------------------- Sales -------------------------------------------- !-->
  <tbody>
      <% @sales = 0 %>
       <% @gl_accounts.each do |account| %>
      <% if account.account_type == 'sales'%>
      <tr>
        <td> <%= account.code %> - <%= account.name %></td>
        <td> </td>
        <td><% @sales += account.account_balances.where("date BETWEEN ? AND ?", params[:start_date], params[:end_date]).sum(:amount).round(2)  %>
            <%= account.account_balances.where("date BETWEEN ? AND ?", params[:start_date], params[:end_date]).sum(:amount).round(2) %></td>
    <% end %>
    <% end %>
    
      <!----------------------------------------------- Other Income -------------------------------------------- !-->
   <tbody>
    <td><strong>Other Income</strong></td>
   <td></td>
   <td></td>
   </tbody>
   <% @other_income = 0 %>
     <% @gl_accounts.each do |account| %>
      <% if account.account_type == 'other_income' %>
      <tr>
        <td> <%= account.code %> - <%= account.name %></td>
        <td> </td>
        <td><% @other_income += account.account_balances.where("date BETWEEN ? AND ?", params[:start_date], params[:end_date]).sum(:amount).round(2)  %>
            <%= account.account_balances.where("date BETWEEN ? AND ?", params[:start_date], params[:end_date]).sum(:amount).round(2) %></td>
    <% end %>
    <% end %>
    
  <!----------------------------------------------- Cost of Sales -------------------------------------------- !-->
<tbody>  
    <td><strong> Cost of sales</strong></td>
   <td></td>
   <td></td>
   </tbody>
   <% @cost_of_sales = 0 %>
<% @gl_accounts.each do |account| %>
      <% if account.account_type == 'cost_of_sales' %>
      <tr>
        <td> <%= account.code %> - <%= account.name %></td>
        <td> </td>
        <td><% @cost_of_sales += account.account_balances.where("date BETWEEN ? AND ?", params[:start_date], params[:end_date]).sum(:amount).round(2)  %>
            <%= account.account_balances.where("date BETWEEN ? AND ?", params[:start_date], params[:end_date]).sum(:amount).round(2) %></td>
    <% end %>
    <% end %>

  <!----------------------------------------------- Gross Profit -------------------------------------------- !-->    
    
    <tbody>  
    <tr  class ='table-primary'>
    <td><strong> Gross Profit</strong></td>
   <td></td>
   <td><strong> <%= @sales + @other_income - @cost_of_sales %></strong></td>
   </tr>
   </tbody>
<br />

  <!----------------------------------------------- Operating Expenses -------------------------------------------- !-->
   <tbody>
     <td><strong> Operating Expenses</strong></td>
   <td></td>
   <td></td>
   </tbody>
   <% @operating_expense = 0 %>
   <% @gl_accounts.each do |account| %>
      <% if account.account_type == 'operating_expense' %>
      <tr>
        <td> <%= account.code %> - <%= account.name %></td>
        <td> </td>
        <td><% @operating_expense -= account.account_balances.where("date BETWEEN ? AND ?", params[:start_date], params[:end_date]).sum(:amount).round(2)  %>
            <%= account.account_balances.where("date BETWEEN ? AND ?", params[:start_date], params[:end_date]).sum(:amount).round(2) %></td>
    <% end %>
    <% end %>


      <tr class ='table-primary'>
        <td>Net Profit / Loss</td>
        <td> </td>
        <td><strong><underline><% @net_profit = @sales.round(2) + @other_income.round(2) - @cost_of_sales.round(2) - @operating_expense.round(2) %>
                                <%= @net_profit.round(2) %> </underline></strong></td>


      </tr>
  </tbody>
  
  
</table>
</center>
</div>


